
.icon-mail-alt:before { content: '\e800'; } /* '' */
.icon-cog-alt:before { content: '\e801'; } /* '' */
.icon-umbrella:before { content: '\e802'; } /* '' */
.icon-paper-plane:before { content: '\e803'; } /* '' */